
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>

﻿<div class="col-md-12">
     <ul style="margin-top: 25px;">
         <li>My Name is <a href="http://linkedin.com/in/Aarsh" target="_blank">Aarsh Talati, MCTS</a>. | Wordpress Blog : <a href="http://wildclick.wordpress.com/code" target="_blank">Wild Click</a> | twitter : <a href="http://www.twitter.com/AarshTalati" target="_blank">@@AarshTalati</a><br /><br /></li>
         <li>Technologies Used : HTML5, AngularJS, Kendo UI Core & MVC 4 Application built for my blog post : <a href="http://WildClick.wordpress.com/codelib/kendo" target="_blank">http://WildClick.wordpress.com/codelib/kendo</a></li>
         <li>Another goal of this application is to demonstrate that AngujarJS can also be used for Non-SPA like this asp.net mvc 4 applications, too !</li>
         <li>The application running on IIS 7 or higher. And originally wriitten to run on <b>Owin / Katana</b></li>
         <li>People are being queried from <a href="http://www.filltext.com/" target="_blank">http://www.filltext.com/</a> service</li>
         <li><a href="https://github.com/ablaze8/LearnKendo" target="_blank">GitHub Repository</a> | More @@ <a href="http://1drv.ms/1AfcPrI" target="_blank">http://1drv.ms/1AfcPrI</a></li>
         <li>Disclaimer : ngKendo is my shorthand for (AngularJS + Kendo UI Core)</li>
     </ul>

    <br /><br />
    <div><b>My other app(s) :</b><br /><br /></div>
    <ul>
        <li><a href="http://spaodata.apphb.com/" target="_blank">SPA OData</a></li>
        <li><a href="http://movieapp-2.apphb.com/" target="_blank">Movie App</a></li>
    </ul>
</div>