@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>
<script>
    $(function () {
        $('#datePicker').kendoDatePicker({
            format: "M/d/yy",
            min: new Date(1900, 0, 1, 0, 0, 0, 0),
            max: new Date(2099, 11, 31, 0, 0, 0, 0)
        });
        kendo.init($("#container"));
    });
</script>

<div data-ng-controller="home">

    {{selectedDate | asDate | date:'shortDate'}}

    <div id="container">
        <input id="datePicker"
               data-role="datePicker"
               data-ng-model="selectedDate" />

        <input data-role="numerictextbox" />

        <input id="nameAutoComplete1"
               type="text"
               data-role="autocomplete"
               data-ng-model="personId"
               data-ignore-case="true"
               data-text-field="name"
               data-source="{data: [{name: 'John Doe', value: '1'},{name: 'Jane Doe', value : '2'}]}" />
    </div>

</div>

